* {
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
html,body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}
pre {
    overflow: auto;
    border: 1px solid rgb(211, 211, 211);
    border-left: 4px solid cornflowerblue;
    border-radius: 5px;
    padding: 10px;
}
th {
    background-color: rgb(223, 223, 223);
    padding: 15px;
    border: 1px solid #818181;
}
td {
    background-color: rgb(133, 133, 133)ff;
    padding: 15px;
    border: 1px solid #c0c0c0;

}
blockquote {
    background-color: #e9f5fa;
    border-left: 2px solid #2d96bd;
    color: rgba(52,73,94,0.8);
    margin: 0;
    padding: 5px 15px;
}
a {
    color: cornflowerblue;
}
@media all and(max-width:605px) {
    #header video {
        width: inherit;
        height: 100%;
    }
}
@media all and(min-width:605px) {
    #header video {
        width: 100%;
        height: inherit;
    }   
}
