* {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
html,body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}
pre {
    overflow: auto;
    border: 1px solid rgb(211, 211, 211);
    background-color: #2c2c2c;
    color: #dfdfdf;
    /* border-left: 5px solid cornflowerblue; */
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
}
th {
    background-color: rgb(223, 223, 223);
    padding: 15px;
    border: 1px solid #818181;
}
td {
    background-color: rgb(133, 133, 133)ff;
    padding: 15px;
    border: 1px solid #c0c0c0;

}
blockquote {
    background-color: #e9f5fa;
    border-left: 2px solid #2d96bd;
    color: rgba(52,73,94,0.8);
    margin: 0;
    padding: 5px 15px;
}
a {
    color: cornflowerblue;
}
font {
    display: inline-block;
}
